<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DifferentialBackup.Properties.Settings.volkovaaConnectionString"
            connectionString="Data Source=DESKTOP-TMI7NDV\SQLEXPRESS;Initial Catalog=volkovaa;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DifferentialBackup.Properties.Settings.masterConnectionString"
            connectionString="Data Source=LAPTOP-15SU7V04\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DifferentialBackup.Properties.Settings.TechnoConnectionString"
            connectionString="Data Source=LAPTOP-15SU7V04\SQLEXPRESS;Initial Catalog=Techno;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DifferentialBackup.Properties.Settings.masterConnectionStringVolk"
            connectionString="Data Source=DESKTOP-TMI7NDV\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>